[submodule "externals/smooth"]
	path = externals/smooth
	url = https://github.com/PerMalmberg/Smooth.git
[submodule "artnet-lib"]
	path = lib/artnet
	url = file:///Users/tol/CODE/pixTol/lib-submodule/ArtNetE131Lib_esp8266
[submodule "arduino-printstream"]
	path = lib/Arduino-PrintStream
	url = file:///Users/tol/CODE/pixTol/lib-submodule/Arduino-PrintStream
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/tweeny"]
	path = lib/tweeny
	url = https://github.com/mobius3/tweeny
[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager
[submodule "lib/NeoPixelBus"]
	path = lib/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus
